<mat-list >

  <a mat-list-item routerLink="/" (click)="onSidenavClose()" >
    <mat-icon>home</mat-icon> <span>Home</span>
  </a>

  <a mat-list-item  routerLink="abstracts" (click)="onSidenavClose()">
    <mat-icon>article</mat-icon> <span>Abstracts</span>
  </a>
  <a mat-list-item  routerLink="customer" (click)="onSidenavClose()">
    <mat-icon>groups</mat-icon> <span>Participants</span>
  </a>
  <a mat-list-item  routerLink="" (click)="onSidenavClose()">
    <mat-icon>event</mat-icon> <span>Saved Presentation</span>
  </a>
  <a mat-list-item  routerLink="" (click)="onSidenavClose()">
    <mat-icon>signpost</mat-icon> <span>Localization</span>
  </a>


</mat-list>
