<div class="box">
  Buttons
</div>
<div class="row box" >
  <h2 class="col-2">
    Customer:
  </h2>
  <div class="col-10 center-box">
    <mat-card class="card">
      <mat-card-header><mat-card-title>{{customerData.degree}} {{customerData.firstName}} {{customerData.lastName}}</mat-card-title>
        <mat-card-subtitle>{{customerData.email}}</mat-card-subtitle>

      </mat-card-header>
      <mat-card-content>

<!--        <div *ngIf="customerData.photo; then thenBlock else elseBlock"></div>-->
<!--        <ng-template #thenBlock>-->
<!--          <img class="profile-photo" src="data:image/jpg;base64,{{customerData.photo}}"  >-->
<!--        </ng-template>-->
<!--        <ng-template #elseBlock >-->
<!--          <div class="center-box" style="margin: 100px">-->
<!--            <mat-icon class="default-face">face</mat-icon>-->
<!--          </div>-->
<!--        </ng-template>-->

        <div class="center-box">
          <img *ngIf="customerData.photo" class="profile-photo" src="data:image/jpg;base64,{{customerData.photo.data}}"  >
          <img *ngIf="customerData.photo === null" class="default-face" src="assets/face.svg"  >
        </div>

        <div *ngIf="customerData.invoiceData"> Affiliation: {{customerData.invoiceData.institution}} {{customerData.invoiceData.name}}</div>
        <div>Phone Number: {{customerData.phoneNumber}}</div>
        <div class="row">
          <div class="col">
            Links:
          </div>
          <div class="col">
            <div *ngFor="let link of customerData.links ">
              <a href="{{link.urlLink}}">{{link.name}}</a>
            </div>
          </div>

        </div>


      </mat-card-content>

    </mat-card>  </div>
</div>
<div class="row box" >
  <h2 class="col-2">
    Customer Small Card representation:
  </h2>
  <div class="col-10 center-box">
    <app-customer-card-small [customerData]="customerCardData"></app-customer-card-small>
  </div>

</div>

<div class="row box" >
  <h2 class="col-2">
    Customer Card representation:
  </h2>
  <div class="col-10 center-box">
    <app-customer-card [customerData]="customerCardData"></app-customer-card>
  </div>



</div>
<div class="row box" >
  <h2 class="col-2">
Affiliation and Tax Data  </h2>
  <div class="col-10 center-box">


    <mat-card>
      <mat-card-header>
        <mat-card-title>Affiliation</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{customerData.invoiceData.institution}}<br>
        Address: {{customerData.invoiceData.street}} {{customerData.invoiceData.buildingNumber}}/{{customerData.invoiceData.flatNumber}}<br>
        {{customerData.invoiceData.postalCode}} {{customerData.invoiceData.city}} {{customerData.invoiceData.country}}<br>
        <br>
        Tax number: {{customerData.invoiceData.taxIdentificationNumber}}
      </mat-card-content>
    </mat-card>  </div>



</div>
