<form [formGroup]="abstractForm" (ngSubmit)="updateAbstract()">
  <mat-form-field class="full-width">
    <mat-label>ID</mat-label>
    <input

      type="number"
      matInput
      [formControlName]="'id'"
      >

  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Abstract Title</mat-label>
    <input
      type="text"
      matInput
      [formControlName]="'abstractTitle'"
      placeholder="Ex. Research about ....">
    <mat-error *ngIf="abstractForm.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Authors</mat-label>
    <input
      type="text"
      matInput
      [formControlName]="'authors'"
      placeholder="Ex. Research about ....">
    <mat-error *ngIf="abstractForm.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Affiliation</mat-label>
    <input
      type="text"
      matInput
      [formControlName]="'affiliation'"
      placeholder="Ex. Research about ....">
    <mat-error *ngIf="abstractForm.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

<!--  <mat-form-field class="full-width">-->
<!--    <mat-label>Abstract Content</mat-label>-->
<!--    <input-->
<!--      type="text"-->
<!--      matInput-->
<!--      [formControlName]="'body'"-->
<!--      placeholder="Ex. Research about ....">-->
<!--    <mat-error *ngIf="abstractForm.hasError('required')">-->
<!--      Name is required-->
<!--    </mat-error>-->
<!--  </mat-form-field>-->
  <div>Abstract Content:</div>
  <div [ngxSummernote]="config" [formControlName]="'body'"></div>


  <mat-form-field class="full-width">
    <mat-label>Presenter ID</mat-label>
    <input
      type="text"
      matInput
      [formControlName]="'presenterId'"
      placeholder="Ex. Research about ....">
    <mat-error *ngIf="abstractForm.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Owner Id</mat-label>
    <input
      type="text"
      matInput
      [formControlName]="'ownerId'"
      placeholder="Ex. Research about ....">
    <mat-error *ngIf="abstractForm.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>AUTH ID</mat-label>
    <input
      type="text"
      matInput
      [formControlName]="'authId'"
      placeholder="Ex. Research about ....">
    <mat-error *ngIf="abstractForm.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

<!--  <mat-form-field class="full-width">-->
<!--    <mat-label>Accepted</mat-label>-->
<!--    <mat-radio-button [formControlName]="'accepted'">Accepted</mat-radio-button>-->

<!--&lt;!&ndash;    <input&ndash;&gt;-->
<!--&lt;!&ndash;      type="text"&ndash;&gt;-->
<!--&lt;!&ndash;      matInput&ndash;&gt;-->
<!--&lt;!&ndash;      [formControlName]="'accepted'"&ndash;&gt;-->
<!--&lt;!&ndash;      placeholder="Ex. Research about ....">&ndash;&gt;-->
<!--    <mat-error *ngIf="abstractForm.hasError('required')">-->
<!--      Name is required-->
<!--    </mat-error>-->
<!--  </mat-form-field>-->
  <p><mat-checkbox color="primary" [formControlName]="'accepted'">Accepted</mat-checkbox></p>



  <div style="padding-top: 20px;">
    <button
      mat-raised-button color="primary">Save</button>
  </div>

</form>
