.section {
  display: table;
}

.label {
  padding-left: 40px;
  display: table-cell;
  font-size: 20px;
  margin-left: 8px;
  min-width: 120px;
}

.button-row {
  padding-left: 20px;
  display: table-cell;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}
.note-modal-backdrop {
  display: none !important;
}

