<section>
  <div class="label">Navigate</div>
  <div class="button-row mat-mdc-button-base">

    <a mat-raised-button routerLink="stats" color="primary">Speaker Hall Statistic</a>
    <a mat-raised-button routerLink="map/add" color="primary">Add Map</a>
    <a mat-raised-button routerLink="map/list" color="primary">Maps List</a>


    <a mat-raised-button routerLink="add" color="primary">Add Speaker Hall</a>
    <a mat-raised-button routerLink="list" color="primary">Speaker Hall List</a>
    <a mat-raised-button routerLink="booking/list" color="primary">Booking Hall List</a>



  </div>
</section>
<mat-divider></mat-divider>

<div style="margin-right: 5%; margin-left: 5%; margin-top: 30px">

  <router-outlet></router-outlet>

</div>

