.card {
  //width: 700px;
  max-height: 500px;
}

.example-header-image {
  background-size: cover;
}

.image-frame{
  float: left;
  margin: 10px;
}


.graphical-abstract{
  max-height: 350px;
  max-width: 350px;
  height:auto;
  width:auto;

}
.center {
  display: block;
  justify-content: center;
  align-items: center;
}

.abstract-text{
  overflow: hidden;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 13;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
}

