.element-description {
  padding: 16px;
}


.abstract-title {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  padding-bottom: 10px
}
.abstract-authors{
  text-align: center;
  font-size: 14px;
  padding-bottom: 10px
}

.abstract-affiliation{
  text-align: center;
  font-style: italic;
  font-size: 14px;
  padding-bottom: 18px
}
.abstract-body{
  text-align: justify;
}

.card{
  max-width: 900px;
}
