.element-description {
  padding: 16px;
}
.abstract-representation {
  width: 595px;
  border: 1px solid black;
  padding: 40px;
  font-weight: lighter;
  margin: 10px;
  height: 842px;
}

.abstract-title {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 10px
}
.abstract-authors{
  text-align: center;
  //font-style: italic;
  padding-bottom: 10px
}

.abstract-affiliation{
  text-align: center;
  font-style: italic;
  font-size: 10px;
  padding-bottom: 18px
}
.abstract-body{
  text-align: justify;

}
