

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Booking Data</mat-card-title>
  </mat-card-header>
  <div class="item">
        <span class="notify-badge"
              [style.top.%]="booking.localization.coordinateY-6.5"

              [style.left.%]="booking.localization.coordinateX-3"

        >
      <mat-icon class="pin-style">pin_drop</mat-icon>
    </span>

    <img class="map-image" src="data:image/jpg;base64,{{booking.localization.mapImage.data}}"  alt="{{booking.localization.mapImage.name}}: {{booking.localization.mapImage.fileName}}" >
  </div>
  <mat-card-content>
    <div>Booked Room: {{booking.localization.room}}</div>
    <div>Start of Booking: {{booking.dateStart | date: 'd-MM-yyyy h:mm' }}</div>

    <div>End of Booking: {{booking.dateEnd | date: 'd-MM-yyyy h:mm' }}</div>





  </mat-card-content>
  <mat-card-actions>
    <button mat-button>SEE IN CALENDAR</button>
    <button mat-button>VIEW</button>
  </mat-card-actions>
</mat-card>
