<section>
  <div class="label">Navigate</div>
  <div class="button-row mat-mdc-button-base">

    <a mat-raised-button routerLink="stats" color="primary">Events Statistic</a>
    <a mat-raised-button routerLink="add" color="primary">Add Event</a>
    <a mat-raised-button routerLink="list" color="primary">Event List</a>
    <a mat-raised-button routerLink="type/add" color="primary">Event Type Add</a>
    <a mat-raised-button routerLink="type/list" color="primary">Event Type List</a>



  </div>
</section>
<mat-divider></mat-divider>

<div style="margin-right: 5%; margin-left: 5%; margin-top: 30px">

  <router-outlet></router-outlet>

</div>

