<div class="row">

  <div class="col-4">
    <h2>List of Provided Maps:</h2>
    <div style="margin: 10px">Select map and then add position and name for Place/Room for lecture/exposition.</div>
    <app-map-image-simple-list
      [mapImageList]="mapImageSimpleList"
      (selectedMapImage)="selected($event)"
      (refresh)="getSimpleListMapImage()"
    >

    </app-map-image-simple-list>
  </div>
  <div class="col-8">
    <div *ngIf="selectedMApImage">
    <h2>Add Map Point</h2>
    <div style="margin: 10px">Provide point on the map for navigation to specific place on map:.</div>


      <form [formGroup]="localizationForm" (ngSubmit)="saveLocalization()">

        <mat-form-field class="full-width">
          <mat-label>Room Name</mat-label>
          <input
            type="text"
            matInput
            [formControlName]="'room'"
          >
          <mat-error *ngIf="localizationForm.hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Coordinate X todo</mat-label>
          <input
            type="number"
            min="0"
            matInput
            [formControlName]="'coordinateX'"
          >
          <mat-error *ngIf="localizationForm.hasError('required')">
            Coordinate is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Coordinate Y todo</mat-label>
          <input
            type="number"
            min="0"
            matInput
            [formControlName]="'coordinateY'"
          >
          <mat-error *ngIf="localizationForm.hasError('required')">
            Coordinate is required
          </mat-error>
        </mat-form-field>


        <div formGroupName="mapImage">
          <mat-form-field class="full-width">
            <mat-label>Selected Map</mat-label>
            <input
              [readonly]="true"
              type="text"
              matInput
              [formControlName]="'name'"
            >
            <mat-error *ngIf="localizationForm.hasError('required')">
              Name of Institution is required
            </mat-error>
          </mat-form-field>

        </div>



        <div style="padding-top: 20px;">
          <button
            mat-raised-button color="primary">Save</button>
        </div>

      </form>

    </div>


  </div>

</div>
