<div class="card-group-view">

  <br>
  <mat-card class="card-stats">
    <mat-card-header>
      <mat-card-title>Number of Participant</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content-box">
      <div style="text-align: center">
        <div class="text-size">
          <mat-icon style="transform: scale(2)">group</mat-icon>
          {{customerStats.numberOfUsers}}
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button routerLink="../add">Add</button>
      <button mat-button routerLink="../list">See</button>

    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card class="card-stats">
    <mat-card-header>
      <mat-card-title>Number of Different Departments</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content-box">
      <div style="text-align: center">
        <div class="text-size">
          <mat-icon style="transform: scale(2)" class="color-icon-green">apartment</mat-icon>
          {{customerStats.numberOfDepartments}}
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button routerLink="../invoice-list">See</button>

    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card class="card-stats">
    <mat-card-header>
      <mat-card-title>Number of Different Institutions</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content-box">
      <div style="text-align: center">
        <div class="text-size">
          <mat-icon style="transform: scale(2)" class="color-icon-red">school</mat-icon>
          {{customerStats.numberOfInstitutions}}
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button routerLink="../invoice-list">See</button>

    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card class="card-stats">
    <mat-card-header>
      <mat-card-title>Participant from Different Countries</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content-box">
      <div style="text-align: center">
        <div class="text-size">
          <mat-icon style="transform: scale(2)">location_on</mat-icon>
          {{customerStats.numberOfDifferentCountry}}
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions align="end">

    </mat-card-actions>
  </mat-card>

  <br>
  <mat-card class="card-stats">
    <mat-card-header>
      <mat-card-title>Download</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content-box">
      <div style="text-align: center">
        <div class="text-size">
          <mat-icon style="transform: scale(2)" >download</mat-icon>
          CSV
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions align="end">
    </mat-card-actions>
  </mat-card>
  <br>
</div>

