.card-stats{
  width: 300px;
  height: 300px;
  margin: 10px;
}
.card-group-view{

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.content-box{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  //text-align: center;
}
.text-size{
  font-size: 60px;
  margin: 30px;
}
.icon-display {
  transform: scale(4);

}

.color-icon-red{
  color: red;
}
.color-icon-green{
  color: green;
}
