<div class="col">

  <h2>Title:</h2>
  <div class="row">
    <div class="col-4">Characters counts:</div>
    <div class="col-3">{{abstract.abstractTitle.length}}</div>
  </div>

  <h2>Authors:</h2>
  <div class="row">
    <div class="col-4">Characters counts:</div>
    <div class="col-3">{{abstract.authors.length}}</div>
  </div>

  <h2>Content:</h2>
  <div class="row">
    <div class="col-4">Characters counts:</div>
    <div class="col-3">{{abstract.body.length}}</div>
  </div>

  <h2>Assigned abstract Contributors</h2>
  <div class="row">
    <div class="col-4">Abstract assigned to Account:   </div>
    <app-customer-card
      [customerId]="abstract.ownerId"
      [access]="'admin'"
    ></app-customer-card>
  </div>


</div>


