.fill-img {
  object-fit: contain;
}
.map-image{
  max-height: 1000px;
  max-width: 1000px;
  height: 100%;
  width: 100%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  position:relative;
  //padding-top:20px;
  display:inline-block;
}
.notify-badge{
  position: absolute;

}

.pin-style{
  color: darkred;
  transform: scale(3);
}
