<div class="card-group-view">

  <br>
  <mat-card class="card-stats">
    <mat-card-header>
      <mat-card-title>Provided Maps</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content-box">
      <div style="text-align: center">
        <div class="text-size">
          <mat-icon style="transform: scale(2)">map</mat-icon>
          {{localizationStats.mapCount}}
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button routerLink="../map/add">Add</button>
      <button mat-button routerLink="../map/list">See</button>

    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card class="card-stats">
    <mat-card-header>
      <mat-card-title>Count of Speaking Halls</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content-box">
      <div style="text-align: center">
        <div class="text-size">
          <mat-icon
            style="transform: scale(2)"
            >meeting_room</mat-icon>

          {{localizationStats.roomsCount}}
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button routerLink="../add">Add</button>
      <button mat-button routerLink="../list">See</button>

    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card class="card-stats">
    <mat-card-header>
      <mat-card-title>Count Of Booked Events</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content-box">
      <div style="text-align: center">
        <div class="text-size">
          <mat-icon style="transform: scale(2)" class="color-icon-red">event</mat-icon>
          {{localizationStats.bookingCount}}
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button routerLink="../booking/list">See</button>

    </mat-card-actions>
  </mat-card>
  <br>

  <mat-card class="card-stats">
    <mat-card-header>
      <mat-card-title>Download</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content-box">
      <div style="text-align: center">
        <div class="text-size">
          <mat-icon style="transform: scale(2)" >download</mat-icon>
          CSV
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <!--          <button mat-button>SHARE</button>-->
    </mat-card-actions>
  </mat-card>
  <br>
</div>

