<p>home works!</p>

<div>
  <a (click)="login()">Login</a>
</div>
<div>
  <a (click)="admin()">Admin link</a>
</div>
<div>
  <a (click)="user()">user link</a>
</div>
<div>
  <a (click)="logout()">Logout</a>
</div>


<table class="table table-bordered table-sm table-props">
  <tr><th>isAdminFromToken</th><td><code>{{isAdminFromToken}}</code></td></tr>
  <tr><th>isUserFromToken</th><td><code>{{isUserFromToken}}</code></td></tr>
  <tr><th>IsAuthenticated</th><td><code>{{isAuthenticated | async}}</code></td></tr>
  <tr><th>HasValidToken</th><td><code>{{hasValidToken}}</code></td></tr>
  <tr><th>IsDoneLoading</th><td><code>{{isDoneLoading | async}}</code></td></tr>
  <tr><th>CanActivateProtectedRoutes</th><td><code>{{canActivateProtectedRoutes | async}}</code></td></tr>
  <tr><th>IdentityClaims</th><td class="pre"><code>{{identityClaims | json}}</code></td></tr>
  <tr><th>RefreshToken</th><td><code class="break-all">{{refreshToken}}</code></td></tr>
  <tr><th>AccessToken</th><td><code class="break-all">{{accessToken}}</code></td></tr>
  <tr><th>IdToken</th><td><code class="break-all">{{idToken}}</code></td></tr>
</table>
