<div class="box flex-container">
  <div>
    <a routerLink="registration"></a>
    <button mat-raised-button routerLink="registration"><mat-icon >person_add</mat-icon>Registration</button>

  </div>
  <div *ngIf="!hasValidToken" style="margin-left: auto">
    <button mat-raised-button  (click)="login()"><mat-icon class="material-icons" >login</mat-icon>Login</button>

  </div>
  <div *ngIf="isAdminFromToken">
    <button mat-raised-button (click)="admin()"><mat-icon>settings_account_box</mat-icon>Administration Panel</button>

  </div>
  <div *ngIf="isUserFromToken">
    <button mat-raised-button (click)="user()"><mat-icon>group</mat-icon>Enter</button>

  </div>
  <div *ngIf="hasValidToken" style="margin-left: auto">
    <button mat-raised-button (click)="logout()"><mat-icon>logout</mat-icon>logout</button>
  </div>
</div>



