<div class="row">

  <div class="col-4">
    <h2>List of Registered Speak Hall:</h2>
    <div style="margin: 10px">Liost of events and list of locaztions todo </div>
    <app-localization-admin-list-light
      [localizationLightList]="localizationLightList"
      (selectedRoom)="selected($event)"
      (refresh)="getLocalizationLightList()"
    >

    </app-localization-admin-list-light>
  </div>
  <div class="col-8">
    <div >
      <h2>Provide Data for booking</h2>

      <form [formGroup]="bookingForm" (ngSubmit)="updateBooking()">

        <mat-form-field class="full-width">
          <mat-label>Event ID</mat-label>
          <input
            [readonly]="true"
            type="number"
            matInput
            [formControlName]="'eventIDData'"
          >
          <mat-error *ngIf="bookingForm.hasError('required')">
            Id is required
          </mat-error>
        </mat-form-field>


        <mat-form-field>
          <mat-label>Date of Booking Start</mat-label>

          <input
            matInput
            [ngxMatDatetimePicker]="picker"
            placeholder="Choose a date"
            [formControlName]="'dateStart'"
          >
          <mat-datepicker-toggle matIconSuffix [for]="$any(picker)"></mat-datepicker-toggle>

          <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                                   [stepHour]="1" [stepMinute]="1" [stepSecond]="1"
                                   [touchUi]=false  [enableMeridian]="false"
                                   [disableMinute]="false" [hideTime]="false">
            <ngx-mat-datepicker-actions>
              <button mat-button ngxMatDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" ngxMatDatepickerApply>Apply</button>
            </ngx-mat-datepicker-actions>
          </ngx-mat-datetime-picker>

        </mat-form-field>

        <mat-form-field>
          <mat-label>Date of Booking End</mat-label>

          <input
            matInput
            [ngxMatDatetimePicker]="picker2"
            placeholder="Choose a date"
            [formControlName]="'dateEnd'"
          >
          <mat-datepicker-toggle matIconSuffix [for]="$any(picker2)"></mat-datepicker-toggle>

          <ngx-mat-datetime-picker #picker2 [showSpinners]="true" [showSeconds]="false"
                                   [stepHour]="1" [stepMinute]="1" [stepSecond]="1"
                                   [touchUi]=false  [enableMeridian]="false"
                                   [disableMinute]="false" [hideTime]="false">
            <ngx-mat-datepicker-actions>
              <button mat-button ngxMatDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" ngxMatDatepickerApply>Apply</button>
            </ngx-mat-datepicker-actions>
          </ngx-mat-datetime-picker>

        </mat-form-field>

<!--        <mat-form-field class="full-width">-->
<!--          <mat-label>Duration of Event in min</mat-label>-->
<!--          <input-->
<!--            type="number"-->
<!--            matInput-->
<!--            [formControlName]="'eventTime'"-->
<!--          >-->

<!--          <mat-error *ngIf="bookingForm.hasError('required')">-->
<!--            Date is required-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->


        <h2>
          Localization Conflict: {{bookingForm.controls['locationConflict'].value}}
        </h2>
        <h2>
          Time Conflict: {{bookingForm.controls['timeConflict'].value}}
        </h2>
        <div formGroupName="localization">


          <mat-form-field class="full-width">
            <mat-label>Localziation Name</mat-label>
            <input
              [readonly]="true"
              type="text"
              matInput
              [formControlName]="'room'"
            >
            <mat-error *ngIf="bookingForm.hasError('required')">
              Coordinate is required
            </mat-error>
          </mat-form-field>
        </div>








        <div style="padding-top: 20px;">
          <button
            mat-raised-button color="primary">Save</button>
        </div>

      </form>

    </div>


  </div>

</div>
