<h2 mat-dialog-title>Update/Save Information Link</h2>
<mat-dialog-content>

<form [formGroup]="infoLinkForm" (ngSubmit)="updateSaveLink()">

  <mat-form-field class="full-width">
    <mat-label>Name</mat-label>
    <input
      type="text"
      matInput
      [formControlName]="'name'"
      placeholder="Ex. Research about ....">
    <mat-error *ngIf="infoLinkForm.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Url Link</mat-label>
    <input
      type="text"
      matInput
      [formControlName]="'urlLink'"
      placeholder="Ex. Research about ....">
    <mat-error *ngIf="infoLinkForm.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <button mat-button color="primary" > {{data.update?  "Update Link" :"Save Link"}}</button>

</form>

</mat-dialog-content>

<mat-dialog-actions align="end">

  <button mat-button (click)="onCancelClick()">Cancel</button>
</mat-dialog-actions>
