<h2 mat-dialog-title>Update/Save Information Link</h2>
<mat-dialog-content>

<form [formGroup]="infoLinkForm" >

<!--  <mat-form-field class="full-width">-->
<!--    <mat-label>ID</mat-label>-->
<!--    <input-->
<!--      type="text"-->
<!--      matInput-->
<!--      [formControlName]="'id'"-->
<!--      placeholder="Ex. Research about ....">-->
<!--    <mat-error *ngIf="infoLinkForm.hasError('required')">-->
<!--      Name is required-->
<!--    </mat-error>-->
<!--  </mat-form-field>-->

  <mat-form-field class="full-width">
    <mat-label>Name</mat-label>
    <input
      type="text"
      matInput
      [formControlName]="'name'"
      placeholder="Ex. Research about ....">
    <mat-error *ngIf="infoLinkForm.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Url Link</mat-label>
    <input
      type="text"
      matInput
      [formControlName]="'urlLink'"
      placeholder="Ex. Research about ....">
    <mat-error *ngIf="infoLinkForm.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

<!--  <mat-form-field class="full-width">-->
<!--    <mat-label>AuthId</mat-label>-->
<!--    <input-->
<!--      type="text"-->
<!--      matInput-->
<!--      [formControlName]="'authId'"-->
<!--      placeholder="Ex. Research about ....">-->
<!--    <mat-error *ngIf="infoLinkForm.hasError('required')">-->
<!--      Name is required-->
<!--    </mat-error>-->
<!--  </mat-form-field>-->
<!--<div [formGroupName]="'customer'">-->
<!--  <mat-form-field class="full-width">-->
<!--    <mat-label>Customer ID</mat-label>-->
<!--    <input-->
<!--      type="text"-->
<!--      matInput-->
<!--      [formControlName]="'id'"-->
<!--      placeholder="Ex. Research about ....">-->
<!--    <mat-error *ngIf="infoLinkForm.hasError('required')">-->
<!--      Name is required-->
<!--    </mat-error>-->
<!--  </mat-form-field>-->

<!--</div>-->
  <button *ngIf="data.update" mat-button color="primary" (click)="saveInfoLinks()">Save Link</button>
  <button *ngIf="!data.update" mat-button color="primary" (click)="updateInfoLinks()">Update Link</button>

</form>

</mat-dialog-content>

<mat-dialog-actions align="end">
<!--  <button *ngIf="data.update" mat-button color="primary" (click)="saveInfoLinks()">Save Link</button>-->
<!--  <button *ngIf="!data.update" mat-button color="primary" (click)="updateInfoLinks()">Update Link</button>-->

  <button mat-button (click)="onCancelClick()">Cancel</button>
</mat-dialog-actions>
