<mat-list >

  <a mat-list-item routerLink="/" (click)="onSidenavClose()" >
    <mat-icon>home</mat-icon> <span>Home</span>
  </a>

  <a mat-list-item  routerLink="abstracts/stats" (click)="onSidenavClose()">
    <mat-icon>article</mat-icon> <span>Abstracts</span>
  </a>
  <a mat-list-item  routerLink="customer/stats" (click)="onSidenavClose()">
    <mat-icon>groups</mat-icon> <span>Customer</span>
  </a>
  <a mat-list-item  routerLink="event/stats" (click)="onSidenavClose()">
    <mat-icon>event</mat-icon> <span>Event</span>
  </a>
  <a mat-list-item  routerLink="localization/stats" (click)="onSidenavClose()">
    <mat-icon>signpost</mat-icon> <span>Localization</span>
  </a>
  <a mat-list-item  routerLink="basket/list" (click)="onSidenavClose()">
    <mat-icon>newspaper</mat-icon> <span>Basket</span>
  </a>
  <a mat-list-item  routerLink="site/stats" (click)="onSidenavClose()">
    <mat-icon>newspaper</mat-icon> <span>Site-Management</span>
  </a>

</mat-list>
