

<div class="center-box">
  <mat-card class="card">
    <mat-card-header><mat-card-title>{{personalInfo.degree}} {{personalInfo.firstName}} {{personalInfo.lastName}}</mat-card-title>
      <mat-card-subtitle>{{personalInfo.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div class="center-box">
        <img *ngIf="personalInfo.photo" class="profile-photo" src="data:image/jpg;base64,{{personalInfo.photo.data}}"  >
        <img *ngIf="personalInfo.photo === null" class="default-face" src="assets/face.svg"  >
      </div>
      <div *ngIf="personalInfo.invoiceData"> Affiliation: {{personalInfo.invoiceData.institution}} {{personalInfo.invoiceData.name}}</div>
      <div>Phone Number: {{personalInfo.phoneNumber}}</div>
      <div class="row">
        <div class="col">
          Links:
        </div>
        <div class="col">
          <div *ngFor="let link of personalInfo.links ">
            <a href="{{link.urlLink}}">{{link.name}}</a>
          </div>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions align="end">
      <app-user-customer-photo-add-button
        [customerData]="personalInfo"
        [update]="!!personalInfo.photo"
        (event)="refreshData()"
      ></app-user-customer-photo-add-button>
      <button mat-button routerLink="../links">Information Links</button>
      <button mat-button routerLink="../edit">Edit Information</button>
    </mat-card-actions>

  </mat-card>  </div>
