<form [formGroup]="abstractForm" (ngSubmit)="updateAbstract()">


  <mat-form-field class="full-width">
    <mat-label>Abstract Title</mat-label>
    <input
      type="text"
      matInput
      [formControlName]="'abstractTitle'"
      placeholder="Ex. Research about ....">
    <mat-error *ngIf="abstractForm.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Authors</mat-label>
    <input
      type="text"
      matInput
      [formControlName]="'authors'"
      placeholder="Ex. Research about ....">
    <mat-error *ngIf="abstractForm.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Affiliation</mat-label>
    <input
      type="text"
      matInput
      [formControlName]="'affiliation'"
      placeholder="Ex. Research about ....">
    <mat-error *ngIf="abstractForm.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>


  <div>Abstract Content:</div>
  <div [ngxSummernote]="config" [formControlName]="'body'"></div>



  <div style="padding-top: 20px;">
    <button
      mat-raised-button color="primary">Save</button>
  </div>

</form>
