<mat-card>
  <mat-card-header>
    <mat-card-title>{{eventData.eventType.name}}: {{eventData.startOfEvent | date: 'dd-MM-yyyy HH:mm'}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <app-abstract-card-view
          [abstractID]="eventData.abstractId"
          [showButtons]="false"
          [widthOfCard]="1000"
        ></app-abstract-card-view>
      </div>
      <div  class="col button-list">
        <button mat-button routerLink="../../participants/view/{{eventData.ownerId}}">See Speaker</button>

        <button mat-button routerLink="../../abstracts/list/view/{{eventData.abstractId}}">View Abstract</button>
        <button mat-button routerLink="../../localization/view/{{eventData.abstractId}}">Find Where</button>
        <button mat-button (click)="postEventToBasket(eventData)" >Add to My Schedule</button>
      </div>
    </div>

  </mat-card-content>

</mat-card>
