
<form [formGroup]="basketItemForm" (ngSubmit)="saveBasketItem()">

  <div style="padding: 20px;">
    <button
      mat-raised-button color="primary">Save</button>
  </div>

  <mat-form-field class="full-width">
    <mat-label>Basket Item Name</mat-label>
    <input
      type="text"
      matInput
      [formControlName]="'name'"
      placeholder="Ex. Research about ....">
    <mat-error *ngIf="basketItemForm.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>EventID</mat-label>
    <input
      type="text"
      matInput
      [formControlName]="'eventId'"
      placeholder="Ex. Research about ....">
    <mat-error *ngIf="basketItemForm.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>deletable</mat-label>
    <input
      type="text"
      matInput
      [formControlName]="'deletable'"
      placeholder="Ex. Research about ....">
    <mat-error *ngIf="basketItemForm.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>AUTH ID</mat-label>
    <input
      type="text"
      matInput
      [formControlName]="'authIds'"
      placeholder="Ex. Research about ....">
    <mat-error *ngIf="basketItemForm.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>






</form>
<div class="row">
  <div class="col-6">
    <app-event-admin-list-light
      [eventEntityListLight]="eventEntityLightList"
      (selectedEvent)="getSelectedEventEntity($event)"
      (refresh)="getEventEntityList()"
    ></app-event-admin-list-light>

  </div>
  <div  class="col-6">
    <app-customer-admin-list-light
      [customerListLight]="customerLightList"
      (selectedCustomer)="getSelectedCustomer($event)"
      (refresh)="getCustomerList()"
    ></app-customer-admin-list-light>

  </div>
</div>



