.full-width {
  width: 100%;
}
.card-group-view{

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px 20px;
}

.button-badge {
  position: absolute;
  top: -23px;
  right: -23px;

}
