/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import 'material-icons/iconfont/material-icons.scss';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "assets/indygo-pink-ver13.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.customStyle{
  background-color: whitesmoke;
  border-radius: 30px;
}

.usermenucontainer  {
  border-radius: 50px !important;
}
.mat-mdc-dialog-container {
  //background-color: chartreuse !important;
  padding: 0 0 0 0 !important;
  overflow: hidden !important;
  border-radius: 20px;

}
.mdc-dialog__surface {
  background-color: transparent !important;
  //border-radius: 30px;

}
.note-modal-backdrop {
  display: none !important;
}
