.element-border {
  padding: 16px;
}
.abstract-figure-frame {
  width: 595px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  height: 595px;
}
img{
  max-height:380px;
  max-width:575px;
  height:auto;
  width:auto;
}
.icon-display {
  transform: scale(4);
  margin: 40px;
}
