<mat-card class="card">


  <mat-card-content>
    <div class="center-box">
      <img *ngIf="customerData.photo" class="profile-photo" src="data:image/jpg;base64,{{customerData.photo.data}}"  >
      <img *ngIf="customerData.photo === null" class="profile-photo-default" src="assets/face.svg"  >
    </div>



        <h2 class="center-box">
      {{customerData.degree}} {{customerData.firstName}} {{customerData.lastName}}
    </h2>
    <h3 class="center-box" *ngIf="customerData.invoiceData !== null">
      {{customerData.invoiceData.institution}}  {{customerData.invoiceData.city}}, {{customerData.invoiceData.name}}
    </h3>



  </mat-card-content>
  <mat-card-actions>
    <button mat-button
            (click)="customerView()"
    >INFO</button>

  </mat-card-actions>
</mat-card>
