.box{
  margin: 20px;
}

.info-color {
  background-color: lightgray;
}

.analitic-data{
  background-color: azure;
}

.text-inside{
  position: absolute;;
  left: 20px;
  top:20px
}
img{
  max-height:500px;
  max-width:500px;
  height:auto;
  width:auto;
}

.center-box{
  display: flex;
  justify-content: center;
}

.flex-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


}
