<div>
  <a [routerLink]="['/admin/abstracts/update/', abstractData.id ]" class="btn">
    <mat-icon>edit_square</mat-icon>
  </a>
  <app-abstract-attachment-file-add-button [abstract]="abstractData" (event)="getAbstract()"></app-abstract-attachment-file-add-button>


</div>
<div class="row">
  <div class="col">
    <app-abstract-sheet-view [abstract]="abstractData"></app-abstract-sheet-view>
  </div>
  <div class="col">
    <div class="row" *ngFor="let file of abstractData.files">
<!--      <img src="data:image/jpg;base64,{{file.data}}"  alt="{{file.fileRole}}">-->
      <app-abstract-file-view [figure]="file" (refreshEvent)="getAbstract()"></app-abstract-file-view>

<!--      <app-delete-button [name]="file.name" (event)="deleteFile(file.id)"></app-delete-button>-->
    </div>
  </div>
</div>

<div>


</div>
