.info-color {
  background-color: lightgray;
}

.analitic-data{
  background-color: azure;
}

.text-inside{
  position: absolute;;
  left: 20px;
  top:20px
}
img{
  max-height:500px;
  max-width:500px;
  height:auto;
  width:auto;
}
