<div class="row">
  <div class="col-4">

  </div>
  <div class="col-8">


    <form [formGroup]="invoiceForm" (ngSubmit)="saveAbstract()">

      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input
          type="text"
          matInput
          [formControlName]="'name'"
        >
        <mat-error *ngIf="invoiceForm.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Street</mat-label>
        <input
          type="text"
          matInput
          [formControlName]="'street'"
        >
        <mat-error *ngIf="invoiceForm.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Building Number</mat-label>
        <input
          type="text"
          matInput
          [formControlName]="'buildingNumber'"
        >
        <mat-error *ngIf="invoiceForm.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Flat number</mat-label>
        <input
          type="text"
          matInput
          [formControlName]="'flatNumber'"
        >
        <mat-error *ngIf="invoiceForm.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>City</mat-label>
        <input
          type="text"
          matInput
          [formControlName]="'city'"
        >
        <mat-error *ngIf="invoiceForm.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Postal Code</mat-label>
        <input
          type="text"
          matInput
          [formControlName]="'postalCode'"
        >
        <mat-error *ngIf="invoiceForm.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Country</mat-label>
        <input
          type="text"
          matInput
          [formControlName]="'country'"
        >
        <mat-error *ngIf="invoiceForm.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>
      <div formGroupName="institution">
        <mat-form-field class="full-width">
          <mat-label>Selected Institution</mat-label>
          <input
            [readonly]="true"
            type="text"
            matInput
            [formControlName]="'name'"
          >
          <mat-error *ngIf="invoiceForm.hasError('required')">
            Name of Institution is required
          </mat-error>
        </mat-form-field>
      </div>

      <div style="padding-top: 20px;">
        <button
          mat-raised-button color="primary">Save</button>
      </div>

    </form>
  </div>

</div>
